@page
@model HarrysPizza.Pages.Admin.IndexModel

@{
    ViewData["Title"] = "Admin";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<script src="~/js/site.js"></script>
<link rel='stylesheet' href="~/css/site.css">

<h1>Admin</h1>


<!-- Code adapted from W3Schools(n.d.-c) -->

<!-- Allows user to toggle between divs  -->
<div class="tab"> 
    <button class="tablinks" onclick="openTab('Menu')" id="defaultTab">Menu Page</button>
    <button class="tablinks" onclick="openTab('ImageSlideshow')">Image Slideshow</button>
</div>
<br />
<br />

<div id="Menu" class="tabcontent">
    <h4>Menu Settings</h4>
    <p>
        <!-- Link to create / add new menu item -->
        <a asp-page="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <!-- Creates headers for table from database -->
            <tr> 
                <th>
                    @Html.DisplayNameFor(model => model.Item[0].Menu)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Item[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Item[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Item[0].Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Item[0].DietrySpecial)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Item[0].ImageData)
                </th>
            </tr>
        </thead>
        <tbody>
            <!-- Reads in each item in the sql database and displays HTML text -->
    @foreach (var item in Model.Item) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Menu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DietrySpecial)
                </td>
                @{ //Reads image in bytes from database and then converts to an image and displays alt text for accessability, if no image present for item then black image icon used
                    try
                    {
                        <td>
                            <img src="@string.Format("data:image/jpg;base64, {0}", Convert.ToBase64String(item.ImageData))" alt="@Html.DisplayFor(modelItem => item.ImageDescription)" style="width:50%; height:50%;" />
                        </td>
                    }
                    catch
                    {
                        <td>
                            <img class="img-thumb" src="~/images/empty.png" alt="No Image Provided" style="width:50%; height:50%;" />
                        </td>
                    }
                }
                <td>
                    <!-- Links to page that allow CRUD operations like edit / delete -->
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a>
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a>
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>

<div id="ImageSlideshow" class="tabcontent">
    <h4>Image Slideshow Settings</h4>
    <p>
        <!-- Link to create / add new image for slideshow -->
        <a asp-page="Create2">Add New Image</a>
    </p>
    <table class="table">
        <thead> 
            <!-- Displays headers for image slideshow database -->
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ImageSlideshow[0].ImageDescription)
                </th>
                <th>
                    Image
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!-- Displays images and alt text for slideshow images -->
            @foreach (var item in Model.ImageSlideshow)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImageDescription)
                    </td>
                    <td>
                        <img src="@string.Format("data:image/jpg;base64, {0}", Convert.ToBase64String(item.ImageData))" alt="@Html.DisplayFor(modelItem => item.ImageDescription)" style="width:50%; height:50%;" />
                    </td>
                    <td>
                        <!-- Add button for crud (deleting) images -->
                        <a asp-page="./Delete2" asp-route-id="@item.ImageID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<!-- End of code adapted -->
