@page
@model HarrysPizza.Pages.Menu.IndexModel

@{
    ViewData["Title"] = "Menu";
}

<head>
    <link rel='stylesheet' href="~/css/menu.css">
    <link rel='stylesheet' href="~/css/site.css">
</head>

<body>

    <div class="image_banner">
        <img src="~/images/menu_banner.png">

        <div class="banner_text">Our Menu</div>
    </div>
    <!-- Creates a div that is referenced in CSS in order to display an image banner -->

    <div id="btn_container">
        <button class="btn clicked" onclick="filterSelection('all')"> Show all</button>
        <button class="btn" onclick="filterSelection('Pizza')"> Pizza</button>
        <button class="btn" onclick="filterSelection('Side')"> Sides</button>
        <button class="btn" onclick="filterSelection('Dessert')"> Desserts</button>
        <button class="btn" onclick="filterSelection('Drink')"> Drinks</button>
        <form method="post">
            <input asp-for="Search" />
            <button type="submit" asp-page-handler="Search">Search</button>
            <button type="submit" asp-page-handler="Clear">Clear</button>
        </form>

       

    </div>

   
        


    
    <div class="menu">
        @foreach (var item in Model.Item)
        {

            <div class="item @Html.ValueFor(modelItem => item.Menu)">
                <div class="content">
                    @{
                        try
                        {
                            <img src="@string.Format("data:image/jpg;base64, {0}", Convert.ToBase64String(item.ImageData))" alt="@Html.DisplayFor(modelItem => item.ImageDescription)" style="width:25vw; height:18vw; max-height: 250px; max-width: 400px" />
                        }
                        catch 
                        {
                            <img class="img-thumb" src="~/images/empty.png" alt="No Image Provided" style="width:25vw; height:18vw; max-height: 250px; max-width: 425px" />
                        }
                    }
                    <br />
                    <br />
                    <h2>@Html.DisplayFor(modelItem => item.Name)</h2>
                    <p>@Html.DisplayFor(modelItem => item.Description)</p>
                    <p style="color:seagreen">@Html.DisplayFor(modelItem => item.DietrySpecial)</p>
                    <h4> £@Html.DisplayFor(modelItem => item.Price)</h4>
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a>
                    <br />
                    <button type="submit" asp-page-handler="Order" asp-route-itemID="@item.ID">
                        Add To Order
                    </button>
                    
                </div>
            </div>
        }
    </div>
    <script>
        filterSelection("all") //Calls the filter selection fuction with all parameter
        function filterSelection(c) {
            var x, i;
            x = document.getElementsByClassName("item");
            if (c == "all") c = "";
            //Adds display class
            for (i = 0; i < x.length; i++) {
                RemoveClass(x[i], "display");
                if (x[i].className.indexOf(c) > -1) AddClass(x[i], "display");
            }
        }

        // Displey the filtered items
        function AddClass(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                if (arr1.indexOf(arr2[i]) == -1) {
                    element.className += " " + arr2[i];
                }
            }
        }

        // Hide the menu items that are not selected
        function RemoveClass(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                while (arr1.indexOf(arr2[i]) > -1) {
                    arr1.splice(arr1.indexOf(arr2[i]), 1);
                }
            }
            element.className = arr1.join(" ");
        }

        // Adds a selected look onto the button
        var btnContainer = document.getElementById("btn_container");
        var btns = btnContainer.getElementsByClassName("btn");
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function () {
                var current = document.getElementsByClassName("active");
                current[0].className = current[0].className.replace(" active", "");
                this.className += " active";
            });
        }
    </script>
        
</body>