@page
@model HarrysPizza.Pages.CheckoutModel
@{
    ViewData["Title"] = "Checkout";
}
@using HarrysPizza.Models
@using HarrysPizza.Data
@using Microsoft.Extensions.Options

<link rel='stylesheet' href="~/css/menu.css">
<link rel='stylesheet' href="~/css/site.css">

<div class="image_banner">
    <img src="~/images/menu_banner.png">

    <div class="banner_text">Checkout</div>
</div>

@if (Model.Items.Count == 0)
{
    <p>There are no items in your order. Please visit our menu to add items to your order.</p>
}
else
{
    <form method="post">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model.Items)
                {
                    var subtotal = item.Price * item.Quantity;

                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Price.ToString("C")</td>
                        <td>@item.Quantity</td>
                        <td>@subtotal.ToString("C")</td>
                    </tr>
                }
            </tbody>
        </table>

        <h2>Order Total: @Model.Total.ToString("C")</h2>

        <button type ="submit" asp-page-handler="Buy">Buy</button>
    </form>
}