@page
@model HarrysPizza.Pages.CheckoutModel
@{
    ViewData["Title"] = "Checkout";
}
@using HarrysPizza.Models
@using HarrysPizza.Data
@using Microsoft.Extensions.Options

<link rel='stylesheet' href="~/css/site.css">

<!-- This creates a div that stores an image banner with text -->
<div class="image_banner">
    <img src="~/images/checkout.jpg" alt="Image of person handing a customer a card reader to pay"> <!-- N26 (n.d.) -->

    <div class="banner_text">Checkout</div>
</div>
<!-- Checks the amount of items in order and if 0 will display following message -->
@if (Model.Items.Count == 0)
{
    <p>There are no items in your order. Please visit our menu to add items to your order.</p>
}
else
{
    //If items are in order then a table is displayed with the following table headers.
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model.Items)
                { //for every item in order, display the name and subtotal for each item
                    var subtotal = item.Price * item.Quantity;
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Price.ToString("C")</td>
                        <td>
                        <div class="quantity_container">
                            <form asp-page-handler="Delete" asp-route-id="@item.ID" method="post">
                                <button class="submit">
                                    -
                                </button>
                            </form>
                            @item.Quantity
                            <form asp-page-handler="Add" asp-route-id="@item.ID" method="post">
                                <button class="submit">
                                    +
                                </button>
                            </form>
                            <!-- Added buttons to each item in the quantity field that links to handlers allowing user to remove and add to quantity -->
                        </div>
                        </td>
                        <td>@subtotal.ToString("C")</td>
                    </tr>
                }
            </tbody>
        </table>
        //display total cost of order
        <h2>Order Total: @Model.Total.ToString("C")</h2>
    <form method="post"> <!-- Button which directs to handler to process order purchase -->
        <button type ="submit" asp-page-handler="Buy">Buy</button>
    </form>
}